#chat-container {
  /* width: 300px; */
  /* margin: auto; */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.chat-bubble {
  display: none;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}

.chat-input {
  display: none;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
}
